// Colors
$Green: #4283c0;
$Background_gray: #ebebeb;
$Default_text_darkgray: #1b1b1b;
$Active_link_background_gray: #eee;
$Active_link_background_darkgreen: #2d3a75;
$Page_title_gray: #565656;

body {
    font-family: 'Open Sans';
    background-color: $Background_gray;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}

// .Menu_link {
//     padding-top: 5px;
//     padding-bottom: 5px;
//     padding-left: 7.5px;
//     padding-right: 7.5px;
// }


.Header1{
    background-color: white;
    display: flex;
    justify-content: center;
    .Top_container {
        height: 75px;
        width: 1070px;
        background-color: white;
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        .logo_Menu{
            display: flex;
            justify-content: flex-start;
            background-color: white;
            flex-grow: 4;
            padding: 5px;
            padding-right: 7.5px;
            padding-left: 7.5px;
            align-items: center;
            .logo_Image{

                padding-right: 15px;
            }
            .Menu_links {
                flex-grow: 4;
                display: flex;
                justify-content: flex-start;
                vertical-align: bottom;
                //padding-right: 15px;
                //background-color: #47752d;
                align-items: center;
                .Menu_link{
                    padding: 15px;
                    border-radius: 50px;  
                }
                .Menu_link:hover{
                    background-color: $Active_link_background_gray;
                }
                .active{
                    background-color: $Active_link_background_gray;
                }
            }
        }
        .account_management_section{
            .Login_Singin_buttons{
                background-color: $Green; 
                //font-size: 21px; 
                //line-height: 21px; 
                padding-right: 20px; 
                margin-left: 20px;
                padding-left: 20px; 
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 50px;  
                color: white;
                border-color: white;
                border-style: none;
            }
            .Login_Singin_buttons:hover {
                background: $Active_link_background_darkgreen; 
            }
            .active{
                background: $Active_link_background_darkgreen; 
            }
        }
    
    }
}

.body_container{
    background-color: $Background_gray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    .main_body {
        background-color: $Background_gray;
        display: flex;
        width: 1070px;
        .left_panel_submenu{
            display: flex;
            flex-direction: column;
            width: 25%;
            padding-top: 20px;
            margin-right: 20px;
            .submenu_button{
                //height: 30px;
                background-color: white;
                font-size: 18px;
                font-size: 25px;
                padding: 20px;
                margin-bottom: 1px;
            }
            .active{
                background-color: $Green;
                color: white;
            }
            .submenu_button:hover{
                background-color: $Green;
                color: white;
            }
        }
        .right_panel_contents{
            display: flex;
            flex-direction: column;
            width: 75%;
            //padding-left: 20px;
            .right_panel_subtitle{
                font-size: 36px;
                color: $Page_title_gray;
                padding-top: 20px;
                padding-left: 40px;
            }
            .right_panel_deploy{
                display: flex;
                flex-direction: row;
                width: 100%;
                box-sizing: border-box;
                .content_card{
                    box-sizing: border-box;
                    width: 50%;
                    //flex-grow: 1;
                    margin: 10px;
                    background-color: white;
                    .content_card_subtitle{
                        box-sizing: border-box;
                        padding-top: 30px;
                        padding-left: 30px;
                        font-size: 20px;
                    }
                    .content_card_text{
                        box-sizing: border-box;
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 15px;
                        padding-bottom: 10px;
                    }
                    .content_image {
                        box-sizing: border-box;
                        width: 100%;
                    }
                }
            }
        }
    }
    .forms_container{
        width: 570px;
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 20px;
        //padding-top: 67px;
        //padding-left: 60px;
        //padding-right: 60px;
        flex-direction: column;
        border-radius: 1%;
        .form_title{
            font-size: 32px;
            padding-top: 67px;
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 10px;
            margin: 0%;
            font-weight: 400;
        }
        .form_log_in > form {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            display: block;
            padding-left: 60px;
            padding-right: 60px;
            padding-bottom: 60px;
            .form_row{
                width: 450px;
                .email_field:focus{
                    outline: 2px solid $Green;
                }
                .email_field:focus:placeholder-shown{
                    outline: 2px solid $Green;
                }
                .email_field:focus:invalid:not(:placeholder-shown){
                    outline: 2px solid rgb(255, 42, 42);
                }
                .email_field:not(:focus):invalid:not(:placeholder-shown){
                    outline: 2px solid rgb(255, 42, 42);
                }
                .password_field:focus{
                    outline: 2px solid $Green;
                }
            }
        }

    }
    
    
}

input[type=email], [type=password]{
    box-sizing: border-box;
    width: 450px;
    font-size: 16px;
    height: 45px;
    padding: 5px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    &:focus:invalid{
        outline: 2px solid red;
    }
}

input[type=submit]{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    height: 42px;
    background-color: $Green;
    border: 1px solid transparent;
    border-radius: 25px;
    margin-top: 10px;
    font-size: 14px;
}


